
<div class="div"   align="center">
    <img class="topic" src="../../assets/placeholder.png" alt="Beer" >
    <img class="topic" src="../../assets/roulette.png" alt="Roulette"> 
</div>


<div class="cardDiv">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is the ultimate Beer and Bar Roulette App. You are one of the first users! 
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="cardDiv">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Get started!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is the ultimate Beer and Bar Roulette Website. 
      </p>
      <p>
        This is the ultimate Beer and Bar Roulette Website. 
      </p>

      <a href="/application"   mat-raised-button color="primary">
        Start your drinking adventure here!</a>
      
    </mat-card-content>
  </mat-card>
</div>


<div class="cardDiv">
    <mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
      At this Page you can find all informations about our devs and the App...
      
    </p>
    <a href="/about"   mat-stroked-button color="primary">
      About</a>
    
    </mat-card-content>
    </mat-card>
    </div>