
<div class="div"   align="center">

    <!-- <img class="topic" src="http://i65.tinypic.com/o56xif.png" alt="Beer"> -->
    <img class="topic" src="http://i67.tinypic.com/349ctiw.png" alt="Beer" >
    <img class="topic" src="http://i64.tinypic.com/28qm3m.png" alt="Roulette"> 
    <h1>Welcome to the ultimate beer and pub roulette!</h1>
</div>


<div class="cardDiv">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is the ultimate Beer and Bar Roulette App. You are one of the first users! 
      </p>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>


    </mat-card-content>
  </mat-card>
</div>

<div class="cardDiv">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Get started!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is the ultimate Beer and Bar Roulette Website. 
      </p>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      </p>

      <a href="./application"   mat-raised-button color="primary">
        Start your utlimate drinking adventure here!</a>
      
    </mat-card-content>
  </mat-card>
</div>


<div class="cardDiv">
    <mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
      At this Page you can find all informations about our devs and the App...
      
    </p>
    <a href="./about"   mat-stroked-button color="primary">About Page</a>
    
    </mat-card-content>
    </mat-card>
    </div>